rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // The admin user has god-mode access to all data.
    function isAdmin() {
      return request.auth.uid == 'jy39QM0BtDROwlkLPZvFFV4H8mk2';
    }

    // Allow admin to read and write all documents
    match /{document=**} {
      allow read, write: if isAdmin();
    }

    // Example rule for a 'users' collection:
    // Allow users to read and write to their own document.
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
